{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Status</title>
    <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'index/css/all.min.css'%}" />
    <link rel="stylesheet" href="{% static 'index/css/status.css' %}" />
    <script src="{% static 'index/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'index/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-sm navbar-dark"
      style="background-color: #666"
    >
      <a class="navbar-brand" href="#">Techfiz</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/status/"
              >Status <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="status-input">
        <form class="form-inline">
          <div class="form-group">
            <input
              type="text"
              name="job-id"
              id="job-id-input"
              class="form-control"
              placeholder="Enter job id..."
            />
          </div>
          <button for="job-id-input" class="btn btn-danger">Check</button>
        </form>
      </div>
      <div class="status-result {{resp}}">
        <div class="alert alert-danger wrong">{{message}}</div>
        <div class="alert alert-success success">
          {{message}} <a href="{{link}}">click here</a> to download
        </div>
      </div>
    </div>
  </body>
</html>
